<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
		<title>Best Deal Finder</title>
	</head>
	<body>
		<form>
			<h1 id="find_best_deal"> Finding the best deal is now just a click away! </h1>
			<div class="search_div">
				<div class="search_query">
					<input type="text" id="search_bar" class="search_bar" name="search_bar" placeholder=" What are you looking for today?">
					<input type="image" src="{{ url_for('static', filename='img/search_button.png')}}" alt="Search Button" id="search_button" class="search_button">
				</div>
				<div class="number_of_search_results">
					Number of deals to find from each website:
				</div>
				<div class="select_results">
					<select id="select_number" name="select_number">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3" selected>3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
				</div>
			</div>
			<br>
			<h2 id="select_websites"> Select the websites you want to search: </h2>
			<div class="selection_container">
				<label class="checkbox_label" for="amazon_checkbox"> Amazon India </label>
				<div title="amazon">
					<div class="checkbox_div">
						<input type="checkbox" value="1" id="amazon_checkbox" name="amazon_checkbox" checked/>
						<label for="amazon_checkbox"></label>
					</div>
				</div>
				<label class="checkbox_label" for="flipkart_checkbox"> Flipkart </label>
				<div title="flipkart">
					<div class="checkbox_div">
						<input type="checkbox" value="1" id="flipkart_checkbox" name="flipkart_checkbox" checked/>
						<label for="flipkart_checkbox"></label>
					</div>
				</div>
				<label class="checkbox_label" for="mdcomputers_checkbox"> MD Computers </label>
				<div title="mdcomputers">
					<div class="checkbox_div">
						<input type="checkbox" value="1" id="mdcomputers_checkbox" name="mdcomputers_checkbox" />
						<label for="mdcomputers_checkbox"></label>
					</div>
				</div>
				<label class="checkbox_label" for="theitdepot_checkbox"> The IT Depot </label>
				<div title="theitdepot">
					<div class="checkbox_div">
						<input type="checkbox" value="1" id="theitdepot_checkbox" name="theitdepot_checkbox" />
						<label for="theitdepot_checkbox"></label>
					</div>
				</div>
				<label class="checkbox_label" for="neweggindia_checkbox"> Newegg India </label>
				<div title="neweggindia">
					<div class="checkbox_div">
						<input type="checkbox" value="1" id="neweggindia_checkbox" name="neweggindia_checkbox" />
						<label for="neweggindia_checkbox"></label>
					</div>
				</div>
				<label class="checkbox_label" for="primeabgb_checkbox"> Prime ABGB </label>
				<div title="primeabgb">
					<div class="checkbox_div">
						<input type="checkbox" value="1" id="primeabgb_checkbox" name="primeabgb_checkbox" />
						<label for="primeabgb_checkbox"></label>
					</div>
				</div>
			</div>
		</form>
		<div class="results_div">
		</div>
		<div class="csv_div">
		</div>
		<footer>
			<div class="social_media">
				<a href="https://linkedin.com/in/premnagdeo" target="_blank"> <i class="fa fa-linkedin"></i></a>
				<a href="https://github.com/premnagdeo" target="_blank"> <i class="fa fa-github"></i></a>
				<a href="https://www.codechef.com/users/premnagdeo" target="_blank"> <i class="iconify" data-icon="simple-icons:codechef" data-inline="false"></i></a>
				<a href="https://leetcode.com/premnagdeo/" target="_blank"> <i class="iconify" data-icon="simple-icons:leetcode" data-inline="false"></i></a>
				<a href="https://www.hackerrank.com/premnagdeo" target="_blank"> <i class="fab fa-hackerrank"></i></a>
				<a href="mailto:premnagdeo@gmail.com" target="_blank"> <i class="fa fa-envelope"></i></a>
			</div>
			<span>Made with <span class="heart">❤️</span> by <a href="https://www.linkedin.com/in/premnagdeo/" target="_blank" class="footer_name">Prem Nagdeo</a>
			</span>
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}"> </script>
		<script src="https://kit.fontawesome.com/5e6b5ddfea.js" crossorigin="anonymous"></script>
		<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	</body>
</html>
