body {
	background-color: #7395AE;
	margin: 2rem;
}

.search_bar {
	height: 2rem;
	width: 50%;
	margin: 1rem;
	margin-left: 0px;
	padding: 1rem;
	font-size: 2rem;
	border: none;
	outline: none;
	border-radius: 5rem;
	box-shadow: 0 1rem 2rem rgba(black, 0.1);
	transition: width 0.45s, height 0.45s;
	transition-delay: .15s;
}

.search_bar::placeholder {
	opacity: 0.5;
}

.search_bar:hover {
	width: 60%;
	height: 2.4rem;
}

.search_button {
	height: 2rem;
	position: relative;
	right: 4.20rem;
	top: 0.3rem;
	transition: all .2s;
	transition-delay: .1s;
}

#find_best_deal {
	color: white;
	margin: 1rem;
	margin-left: 0px;
	font-size: 3.5rem;
}

#select_websites {
	color: white;
	margin: 1rem;
	margin-left: 0px;
	font-size: 3rem;
}


/* Checkbox css start*/

.selection_container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin: auto;
}

.checkbox_label {
	padding-left: 0;
	font-weight: bold;
}

.checkbox_div {
	flex: 50vh;
	width: 80px;
	height: 26px;
	background: #333;
	margin: 20px auto;
	position: relative;
	border-radius: 50px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
	margin-left: 25%;
}

.checkbox_div:after {
	content: 'OFF';
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font: 12px/26px Arial, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.checkbox_div:before {
	content: 'ON';
	color: #27ae60;
	position: absolute;
	left: 10px;
	z-index: 0;
	font: 12px/26px Arial, sans-serif;
	font-weight: bold;
}

.checkbox_div label {
	display: block;
	width: 34px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
	background: #fcfff4;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
	background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	border-radius: 50px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.checkbox_div input[type=checkbox] {
	visibility: hidden;
}

.checkbox_div input[type=checkbox]:checked+label {
	left: 43px;
}


/* Checkbox css end*/

.checkbox_label {
	margin: auto;
	//display: inline;
	margin-right: 1rem;
	font-size: 2rem;
	font-family: sans-serif;
	color: black;
	font-weight: bold;
}
