body {
	background-color: #a0d2eb;
	margin: 25px;
}

.search_div {
	width: 100%;
	display: flex;
}

.search_bar {
	float: left;
	height: 2rem;
	width: 80%;
	margin: 7.5px 7.5px 7.5px 0px;
	padding: 12px;
	font-size: 20px;
	border: none;
	outline: none;
	border-radius: 25px;
	-webkit-box-shadow: -6px 11px 22px 0px rgba(0, 0, 0, 0.68);
	box-shadow: -6px 11px 22px 0px rgba(0, 0, 0, 0.68);
	transition: all 0.3s ease-in;
	transition-delay: .1s;
}

.search_query {
	transition: all 0.3s ease-in;
	transition-delay: .1s;
}

.search_bar::placeholder {
	opacity: 0.5;
}

.search_button {
	position: relative;
	height: 32px;
	right: 45px;
	top: 20px;
	transition: all 0.3s ease-in;
	transition-delay: .1s;
}

.search_query {
	width: 45%;
}

.search_query:hover{
	width: 55%;
}

.search_query:hover>.search_bar {
	font-size: 27px;
	width: 80%;
	height: 2.4rem;
}

.search_query:hover>.search_button {
	height: 48px;
	right: 67.5px;
	top: 16px;
}

#find_best_deal {
	color: #0049B7;
	margin: 10px 10px 10px 0px;
	font-size: 3.5rem;
}

#select_websites {
	color: #0049B7;
	margin: 10px 10px 10px 0px;
	font-size: 3rem;
}

.number_of_search_results {
	width: 35%;
	font-size: 25px;
	margin: auto 0;
	margin-right: 10px;
	text-align: right;
}

.select_results {
	width: 70px;
	margin: auto 0;
}


/* Select element start*/

#select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

select {
	width: 100%;
	height: 40px;
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	cursor: pointer;
	border-radius: 0;
	background-color: #026777;
	border: none;
	border-bottom: 2px solid #004652;
	color: white;
	padding: 10px;
	padding-right: 38px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	/* Adding transition effect */
	transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}

select:hover,
select:focus {
	color: #00DDFF;
	background-color: white;
	border-bottom-color: #DCDCDC;
}


/* Select element end*/


/* Checkbox css start*/

.selection_container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin: auto 0;
	width: 80%;
}

.checkbox_label {
	padding-left: 0;
}

.checkbox_div {
	flex: 50vh;
	width: 80px;
	height: 26px;
	background: #333;
	margin: 20px auto;
	position: relative;
	border-radius: 50px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
	margin-left: 25%;
}

.checkbox_div:after {
	content: 'OFF';
	color: red;
	position: absolute;
	right: 10px;
	z-index: 0;
	font: 12px/26px Arial, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}

.checkbox_div:before {
	content: 'ON';
	color: #27ae60;
	position: absolute;
	left: 10px;
	z-index: 0;
	font: 12px/26px Arial, sans-serif;
	font-weight: bold;
}

.checkbox_div label {
	display: block;
	width: 34px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
	background: #fcfff4;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
	background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	border-radius: 50px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.checkbox_div input[type=checkbox] {
	visibility: hidden;
}

.checkbox_div input[type=checkbox]:checked+label {
	left: 43px;
}

.checkbox_label {
	margin: auto;
	margin-right: 1rem;
	font-size: 2rem;
	font-family: sans-serif;
	color: white;
	font-weight: bold;
	text-shadow: rgb(64, 116, 181) 2px 2px 0px, rgb(64, 116, 181) 2px -2px 0px, rgb(64, 116, 181) -2px 2px 0px, rgb(64, 116, 181) -2px -2px 0px, rgb(64, 116, 181) 2px 0px 0px, rgb(64, 116, 181) 0px 2px 0px, rgb(64, 116, 181) -2px 0px 0px, rgb(64, 116, 181) 0px -2px 0px;
}


/* Checkbox css end*/


/* results css starts */

#results_title {
	color: #0049B7;
	margin: 10px 10px 10px 0px;
	font-size: 2.7rem;
}

.results_div {
	margin: 10px;
	margin-left: 0px;
	word-wrap: break-word;
}

.results_div>div {
	background-color: #494D5F;
	margin-bottom: 40px;
	padding: 10px;
}

.results_product_title {
	color: white;
	margin: 10px 5px 5px 0px;
	font-size: 2rem;
}

.results_products_item_title {
	color: #c3f7ff;
	margin: 5px;
	font-size: 1.7rem;
}

.results_products_item_subtitle {
	color: #8BEFFF;
	font-size: 1.5rem;
	font-weight: bold;
	margin-right: 10px;
	display: inline-block;
}


.results_products_details {
	color: #00DDFF;
	margin: 2px;
	margin-left: 10px;
	font-size: 1.3rem;
	display: block;
}

.error_text {
	color: black;
	margin: 2px;
	margin-left: 10px;
	font-size: 1.5rem;
}


/* results css ends*/


/* Download Button css starts */

.download_button {
	border: none;
	border-radius: 2px;
	padding: 12px 18px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	color: white;
	background-color: #2196f3;
	box-shadow: 0 0 4px #999;
	outline: none;
	margin: 0 auto 30px auto;
	display: block;
	background-position: center;
	transition: background 0.8s;
}

.download_button {}

.download_button:hover {
	background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.download_button:active {
	background-color: #6eb9f7;
	background-size: 100%;
	transition: background 0s;
}


/* Download Button css ends */


/* Footer css starts */

footer {
	text-align: center;
	font-size: 1.3rem;
	margin: 0 auto;
	padding-bottom: 1em;
	font-family: "Roboto";
}

.social_media {
	font-size: 36px;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}


/* change icon color */

.fa-linkedin {
	color: #0049B7;
}

.fa-github {
	color: #0049B7;
}

.fa-hackerrank {
	color: #0049B7;
}

.fa-envelope {
	color: #0049B7;
}

.iconify {
	color: #0049B7;
}

footer .heart {
	color: red;
}

.heart+.footer_name:hover {
	border-bottom: 3.5px solid white;
}

.footer_name:hover,
footer .footer_name {
	border-bottom: 2px solid white;
}


/* Footer css ends */


/* Media Query starts */


@media (max-width:875px) {
	body {
		margin: 10px;
	}
	.search_div {
		width: 100%;
		display: block;
	}

	.search_query {
		width: 100%;
		display: flex;
		font-size: 16px;
	}
	.search_query:hover{
		width: 100%;
	}

	.search_bar{
		width: 100%;
		font-size: 18px;
	}

	.search_bar:focus::placeholder {
	  color: transparent;
	}

	.search_button{
		position: relative;
		top: 20px;
	}

  #find_best_deal {
	  font-size: 2.5rem;
	}

	.number_of_search_results {
	width: 100%;
	font-size: 25px;
	margin: 10px auto;
	text-align: center;
	}
	.select_results{
	margin: auto auto;
	}
	#select_websites {
    font-size: 2.25rem;
	}
	.checkbox_label {
	  font-size: 1.65rem;
	}

	.selection_container {
		grid-template-columns: auto auto;
		width: 90%;
	}


/* Media Query ends */
